* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 40px;
}
.nav-right {
  display: flex;
  gap: 40px;
}
.nav-right button {
  padding: 12px 20px;
  border-radius: 20px;
  font-size: 14px;
  background: transparent;
  border: 1px solid rgb(192, 192, 192);
  cursor: pointer;
}
.nav-left {
  font-size: 20px;
}

.center-image {
  margin-inline: 40px;
  height: 80vh;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.centered-text,
.sub-text {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.centered-text {
  top: 20%;
  color: white;
  font-size: 1.5rem;
}

.sub-text {
  top: 34%;
  color: white;
  font-weight: 400;
  width: 25%;
  right: 4%;
  left: auto;
  transform: none;
  text-align: left;
}

.center-btn {
  position: absolute;
  top: 34%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50px;
  padding: 12px;
  font-size: 16px;
  border: none;
  color: white;
  background: rgb(2, 2, 79);
  cursor: pointer;
}

.foot {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right-foot {
  display: flex;
  align-items: center;
  margin: 1.5% 2.5%;
  gap: 20px;
}
.right-foot a {
  color: white;
}
.left-foot {
  margin: 1.5% 2%;
  width: 200px;
  pointer-events: none;
}
